html{
  background-color: white;
}

.text-content {
  color: #0B8E8F;
  vertical-align: middle;
  margin: 20%;
  font-size: 2vw;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.text-content a {
  color: #425F50;
}

.text-content-about {
  color: #0B8E8F;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto; 
  width: 50%;
}


.text-content-about h1, h2, h3, h4{
  font-weight: normal;
}

.logo{
  color: #425F50;
  position: absolute;
  top: 100%;
  right: 10%;
  font-size: 20px;
}


.stt-buttons button, select, label{
  font-size: 24px;
  color: #425F50;
  background-color: rgba(0, 0, 0, 0);
  border-color: #425F50;
  border-radius: 12px;
  width: 200px;
  height: 100px;
}

.enter-btn {
  font-size: 24px;
  color: #425F50;
  background-color: rgba(0, 0, 0, 0);
  border-color: #425F50;
  border-radius: 12px;
  width: 200px;
  height: 100px;
}

/******** MENU ********/
.navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.0);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.navbar .main-pages{
  font-size: 32px;
  padding-top: 30px;
  color: #425F50;
}

.navbar .main-pages:hover{
  color: #0BC6B6;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 60px;  
  border: none;
  outline: none;
  color: #425F50;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  display: block;
}

.dropdown .dropbtn:hover{
  color: #0BC6B6;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 80px;
  background-color: white;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #0BC6B6;
}

.show {
  display: block;
}
/***********************/

/*******Media Queries********/
@media screen and (max-width: 767px) {
  .text-content, .text-content-about {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    font-size: 6vw;
  }

  .text-content {
  	margin: auto;
  }

  .text-content-about h1{
  	font-size: 6vw;
  }

 .logo {
  	font-size: 8px;
  }

  .stt-buttons {
  	width:50%;
  }
}


